@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* CSS RESET */

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

html {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    height: auto;
    gap: 50px;
    margin: 0;
    padding: 0;
    
}

/* .header-info-block {
  
} */

.list {
    display: flex;
    flex-direction: row;
    gap: 13%;
    margin-top: 80px;
    list-style-type: none;
    letter-spacing: 0.5px;
    font-size: 20px;
    
}

.list a {
    text-decoration: none;
    color:black
}

h1 {
    font-size: 90px;
    font-weight: 400;
    width: 200px;
    margin-top: 50px;
}

.header-info {
    font-size: 30px;
    width: 500px;
    margin-top: 50px;
    line-height: 40px;
}

.header-btn {
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    background-color: deeppink;
    color: white;
    border: none;
    padding: 15px 45px;
}

.header-img {
    background-image: url(./2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 985px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}

.menu-img {
    width: 335px;
}

.menu-text {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 37px;
    color: white;
    margin-top: 17px;
    text-align: center;
    word-spacing: 17px;
}

.menu-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    vertical-align: middle;
    border: 1px solid white;
    padding: 9px 18px;
}

.block {
    width: 100%;
    
}

.block-h2 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 56px;
    width: 335px;
    height: 80px;
    text-align: left;
}

.block-cont-h2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 80px auto;
}

.block-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.block-card {
    width: 335px;
    text-align: center;
}

.card-img {
    width: 335px;
    height: 335px;
    background-image: url(./s-1.jpg);
    background-size: cover;
    background-position: center;
}

.card-img-2 {
    width: 335px;
    height: 335px;
    background-image: url(./s-2.jpg);
    background-size: cover;
    background-position: center;
}

.card-img-3 {
    width: 335px;
    height: 335px;
    background-image: url(./s-3.jpg);
    background-size: cover;
    background-position: center;
}

.card-img-4 {
    width: 335px;
    height: 335px;
    background-image: url(./s-4.jpg);
    background-size: cover;
    background-position: center;
}

.card-img-5 {
    width: 335px;
    height: 335px;
    background-image: url(./s-5.jpg);
    background-size: cover;
    background-position: center;
}

.card-img-6 {
    width: 335px;
    height: 335px;
    background-image: url(./s-6.jpg);
    background-size: cover;
    background-position: center;
}

.card-name {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
}

.price {
    font-size: 20px;
    margin-top: 30px;
}

.sale {
    text-decoration: line-through;
}

.black {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 9px 31px;
}

.white {
    border: 1px solid black;
    font-size: 18px;
    padding: 8px 30px;
}

.btn-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 50px;
    background-color: black;
    height: 700px;
    margin-top: 80px;
}

/* .wrap {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
} */

.form-cont {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 472px;

}
.aaa{
   text-align: left;
   margin: 0 auto;
}

.form-info {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    font-size: 36px;
    width: 100%;
}

.form-info:nth-of-type(3) {
    margin-bottom: 50px;
}

.form-name {
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 4px;
    width: 100%;
}

input {
    width: 430px;
    height: 40px;
    background-color: dimgray;
    border: none;
    width: 90%;
}

.star {
    color: red;
}

.pink {
    color: deeppink;
}

.form-btn {
    width: 150px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 8px 20px;
    margin-top: 30px;
}

.rules {
    width: 480px;
    font-size: 15px;
    color:  white;
    margin-top: 20px;
}

.form-bg {
    width: 50%;
    background-image: url(./input.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
}

.fourth-img {
    border-radius: 50%;
    background-color: deeppink;
    padding: 17px;
    margin: 0;
    width: 75px;
}

.bg {
    width: 300px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 150px;
    margin-bottom: 150px;

}

.fourth-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.footer-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 110px;
}

.contacts-f {
    padding: 0;
}

.contacts-f {
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
    padding-bottom: 50px;
}

.footer-icon{
    width: 40px;
}

.footer-img{
    background-size: cover;
    width: 50%;
    height: auto;
}

.contact{
    font-size: 18px;
    line-height: 30px;
}

.contact:last-of-type{
    font-size: 18px;
    line-height: 80px;
}

.icon{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    gap: 300px;
    margin: 0;
    padding: 0;
    
}

.footer-info-block{
    margin-top: 5%;
}

@media (max-width: 1719px) {

    .header-img {
        display: none;
    }

    .footer-img{
        width: 100%;
    }

    body{
        min-width: 500px
    }
   
    .footer-info-block{
        margin: auto;
    }

    .form-cont{
        margin: auto;
        width: 100%;
    }

    .form-bg{
        display: none;
    }

    .header {
        justify-content: center;
    }
    .block-h2:nth-of-type(2){
        display: none;
    }
    .block-h2:nth-of-type(3){
        display: none;
    }
    h3{
        margin-bottom: 100px;
    }
    .bg{
        margin-top:0 ;
        margin-bottom: 00px;
    }

    .bg:last-child{
        margin-top:0 ;
        margin-bottom: 100px;
    }
    .footer{
        gap: 100px;
    }
    .wrap{
        text-align: center;
    }

    .icon{
        justify-content: center;
    }

   /* .ppp{
       text-align: center;
   }
   .list{
       display: flex;
       justify-content: center;
   } */
}
 @media(max-width: 550px) {
    .ppp{
        text-align: center;
    }
    .list{
        display: flex;
        justify-content: center;
    }
    h1{
        width: auto;
    }
   
    .form-cont{
        margin-top: 10px;
    }

    /* .form-cont{
        width: 100%;
    align-items: center;
    padding: calc(100px / 2) 0 calc(100px / 2) 0;
    }
    .form-name{
        text-align: center;
    }
    .form  */
    /* .form-cont{ 
        /* padding: auto;
        width: 100%; */
        /* display: flex
        justify-content: center; */
        /* padding: 10px; */
    /* } */
 }  
